<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
    <title>Login</title>
    <style>
        body, h1, h2, h3, h4, p {
            font-family: 'Helvetica', sans-serif;
        }
    </style>
</head>

<body class="bg-gray-100 ">
        <div class="bg-white p-8 mb-6 shadow-md">
        <h1 class="text-4xl font-extrabold text-center text-indigo-600">Emotion Based Song Recommendation System</h1>
    </div>
    <div class="flex flex-col items-center justify-center">
    <div class="bg-white p-8 rounded shadow-md w-full max-w-md">
        <h1 class="text-4xl font-extrabold mb-6 text-center text-indigo-600">Login</h1>
        {% if custom_error %}
        <div class="bg-red-500 text-white p-2 mb-2 rounded">
            <p>{{ custom_error }}</p>
        </div>
        {% endif %}

        <form method="POST" class="space-y-4">
            {% csrf_token %}
            <div>
                {{ form.username.label_tag }}
                {{ form.username }}
            </div>
            <div>
                {{ form.password.label_tag }}
                {{ form.password }}
            </div>
            <button type="submit"
                class="w-full bg-indigo-600 text-white py-2 px-4 rounded hover:bg-indigo-700 focus:outline-none focus:shadow-outline-indigo active:bg-indigo-800">Login</button>
            <p class="text-gray-600 text-center">
                Don't have an account? <a href="{% url 'signup' %}" class="text-indigo-600">Create Account</a>
            </p>
        </form>
    </div>
    </div>
</body>

</html>



<!-- <!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" >
    <title>Login</title>
</head>
<body class="bg-gray-100 flex items-center justify-center h-screen">
    <div class="bg-white p-8 rounded shadow-md w-full max-w-md">
        <h1 class="text-4xl font-extrabold mb-6 text-center text-indigo-600">Login</h1>
        {% if custom_error %}
            <div class="bg-red-500 text-white p-2 mb-2 rounded">
                <p>{{ custom_error }}</p>
            </div>
        {% endif %}

        <form method="POST" class="space-y-4">
            {% csrf_token %}
            <div>
                {{ form.username.label_tag }}
                {{ form.username }}
            </div>
            <div>
                {{ form.password.label_tag }}
                {{ form.password }}
            </div>
            <button type="submit" class="w-full bg-indigo-600 text-white py-2 px-4 rounded hover:bg-indigo-700 focus:outline-none focus:shadow-outline-indigo active:bg-indigo-800">Login</button>
            <p class="text-gray-600 text-center">
                Don't have an account? <a href="{% url 'signup' %}" class="text-indigo-600">Create Account</a>
            </p>
        </form>
    </div>
</body>

</html> -->



<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
<h1>Login</h1>
<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Login</button>
    <a href="{% url 'signup' %}">Dont have Account Create</a>
</form>
</form>
</body>
</html> -->